.aboutSection {
  width: 90%;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.firstSection {
  display: flex;
  justify-content: space-between;
  gap: 67px;
  @media screen and (max-width: 1024px) {
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.column1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  gap: 25px;
  @media screen and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    order: 2;
    width: 100%;
  }
}
.column2 {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  @media screen and (max-width: 1024px) {
    width: 40%;
  }
  @media screen and (max-width: 768px) {
    order: 1;
    width: 100%;
    justify-content: center;
  }
}
.heading {
  text-align: start;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 42px;
  }
}
.description {
  text-align: start;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  font-family: DM Sans;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 35px;
  }
  @media screen and (max-width: 768px) {
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    margin-top: 65px;
  }
  @media screen and (max-width: 520px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 45px;
  }
  @media screen and (max-width: 320px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
}
.aboutSectionImage {
  position: relative;
  @media screen and (max-width: 1024px) {
    width: 60%;
    height: auto;
  }
  @media screen and (max-width: 768px) {
    width: 30%;
    height: auto;
  }
  @media screen and (max-width: 520px) {
    width: 40%;
    height: auto;
  }
}
.hiImage {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19.5%;
  margin-right: 9%;
  @media screen and (max-width: 1024px) {
    width: 7%;
    height: auto;
    margin-top: 19%;
    margin-right: 10%;
  }
  @media screen and (max-width: 768px) {
    width: 12%;
    height: auto;
    margin-top: 26.5%;
    margin-right: 9%;
  }
  @media screen and (max-width: 520px) {
    width: 15%;
    height: auto;
    margin-top: 35.5%;
    margin-right: 10%;
  }
}

.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 90px;
  gap: 20px;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
    gap: 30px;
  }
  @media screen and (max-width: 520px) {
    margin-top: 40px;
  }
}

.headingSecond {
  text-align: start;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
}
.listContainer {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  @media screen and (max-width: 768px) {
    gap: 50px;
  }
  @media screen and (max-width: 520px) {
    gap: 45px;
  }
  @media screen and (max-width: 480px) {
    gap: 20px;
  }
  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}

.firstList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  @media screen and (max-width: 520px) {
    gap: 20px;
  }
  @media screen and (max-width: 320px) {
    width: 100%;
  }
}
.secondList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  @media screen and (max-width: 520px) {
    gap: 20px;
  }
  @media screen and (max-width: 320px) {
    gap: 20px;
  }
}
.listItems {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(179, 179, 179, 1);
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
  @media screen and (max-width: 520px) {
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    gap: 2px;
    font-size: 11.5px;
  }
  @media screen and (max-width: 320px) {
    gap: 5px;
    font-size: 12px;
  }
}
.dot {
  font-size: 0.75rem;
  color: rgba(155, 92, 255, 1);
}
